!!! 5
html
  head
    title Instagram - Real-time updates demo
    link(rel="stylesheet", href="/static/styles/reset.css", type="text/css")
    link(rel="stylesheet", href="/static/styles/master.css", type="text/css")
    script(src="http://documentcloud.github.com/underscore/underscore-min.js", type="text/javascript")
    script(src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.1.0.debug.js", type="text/javascript")
    script(src="/socket.io/socket.io.js", type="text/javascript")
    script(src="/static/scripts/jquery-1.5.min.js", type="text/javascript")
    script(src="/static/scripts/index.js", type="text/javascript")

  body
    #messages
    #wrap
      !{body}

    script#instagram-template(type='text/html')
      .container.animating
        .record.in(data-bind='event: { webkitAnimationEnd: $parent.endAnimation }')
          img.listimg(data-bind='attr: { src: images.standard_resolution.url }')
          .caption(data-bind='text: caption.text')